.theme-button {
  width: 40px;
  height: 40px;
  padding: 4px;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;

}

.light {
  .theme-button {
    .sun {
      position: relative;
      top: -100%;
      left: 0;
      transform: translateY(100%);
      transition: transform 1s;
    }

    .moon {
      transform: translateY(10%);
      transition: transform 1s;
    }
  }
}

.dark{
  .theme-button {
    .sun {
      position: relative;
      top: -100%;
      left: 0;
      transform: translateY(-30%);
      transition: transform 1s;
    }

    .moon {
      transform: translateY(-110%);
      transition: transform 1s;
    }
  }
}