.todo-input {
  margin-bottom: 8%;
  padding: 8px 16px;
  border: 1px #d3d3d3 solid;
  border-radius: 8px;
  font-size: 1em;
}

.light {
  .todo-input {
    background-color: #fdfdfe;
    transition: background-color 1s;
  }
}

.dark {
  .todo-input {
    color: white;
    background-color: #25273c;
    transition: background-color 1s;
  }
}